<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ecommerce-automation"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ecommerce-automation"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="pages.ProductPage"/>
        <listEntry value="driver.DriverManager"/>
        <listEntry value="pages.InventoryPage"/>
        <listEntry value="pages.LoginPage"/>
        <listEntry value="pages.CheckoutOverviewPage"/>
        <listEntry value="utils.PopupHandler"/>
        <listEntry value="base.BaseTest"/>
        <listEntry value="pages.CheckoutInfoPage"/>
        <listEntry value="tests.SauceDemoE2ETest"/>
        <listEntry value="pages.CheckoutCompletePage"/>
        <listEntry value="pages.CartPage"/>
        <listEntry value="utils.TestUtil"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
